<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @customer.postalcode %>
</p>

<p>
  <strong>Province:</strong>
  <%= @customer.province_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @customer.admin %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
