<h1>order</h1>
<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p><%= item.product.title %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>Subtotal: <%= number_to_currency current_order.total_price %></p>

  <% tax = current_order.total_price * current_user.province.tax %>
  <p>tax: <%= number_to_currency tax %>
  <% total = tax + current_order.total_price %>
  <p>Total: <%= number_to_currency total %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>