<h1>Shopping Cart</h1>
<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p><%= item.product.title %> | <a href="/order_items/<%= item.id%>">Delete</a></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>Subtotal: <%= number_to_currency current_order.total_price %></p>
  <% rate = 0.12
  case

  %>
  <% tax = current_order.total_price * rate %>
  <p>tax: <%= number_to_currency tax %>
  <% total = tax * current_order.total_price %>
  <p>Total: <%= number_to_currency total %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
