<!DOCTYPE html>
<html>
  <head>
    <title>Finalproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path%>   |
    <%= link_to 'Cart', cart_path%>   |
    <%= link_to 'Login', login_path%>   |
    logout   |
    <%= link_to 'Register', register_path%>   |
    <%= link_to 'About', about_path%>   |
    <%= link_to 'Contact', contact_path%>   |
    <%= link_to 'Admin', admin_root_path, target: :_blank %>
    <%= yield %>
  </body>
</html>
